.btn-1:hover{   
    background: rgba(119, 115, 115, 0.1);
    transition: 0.7s;
}
.btn-2:hover{
    transition: 0.3s;
    background: #333333;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px black;
}
.btn-3:hover{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 0 20px black;
}
.btn-4:hover{
    box-shadow: 1px 1px 1px #333333;
    border-radius: 15px;
    background-color: #d3d3d3;
    color: #333333;
    transition: 0.55s;
}
.btn-5:hover{
    background-color: #6e6e6e;
    transition: 0.3s;
}
.price-link:hover{
    color: #333333;
    transition: 0.6s;
}

.nav-icon{
    width: 24px;
}

.footer-image:hover, .nav-icon:hover{
    transform: scale(1.3);
    transition: 0.4s;
}
.tab-item:hover{
    cursor: pointer;
    transform: scale(1.1); 
    transition: 0.3s;
    z-index: 10;
}
.tabs-icon-image:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.header-left-item-link, .nav-item-link{
    position: relative;
}
.header-left-item-link::before, .nav-item-link::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: rgb(119, 115, 115);
    left: 0;
    bottom: -10px;
}
.header-left-item-link:hover::before, .nav-item-link:hover::before{
    width: 100%;
    transition: all 0.3s;
}
.footer-ul2-link:hover{
    font-size: large;
    transition: .6s;
}
